<div style="float:right;width:310px;">
    <a href="http://www.google.com/" target="_blank" > <img src="~/Content/Images/google-plus-6-xxl.png" style="width:50px;height:50px;border-radius:50px;" /></a>
    <img src="~/Content/Images/Watsapp-and-Facebook.jpg" style="width:100px;height:50px;border-radius:50px;" usemap="#FacebookandWhatsApp"/>

    <map name="FacebookandWhatsApp">
        <area shape="circle" coords="800,10,50" href="https://web.whatsapp.com/" target="_blank" alt="Whats App" style="border:5px solid black;">
        <area shape="circle" coords="900,10,50" href="http://www.facebook.com/"  target="_blank" alt="facebook"  style="border:5px solid red;">
    </map>
    <a href="http://www.google.com/" target="_blank">
       </a>
        <a href="https://twitter.com/" target="_blank"><img src="~/Content/Images/Twitter-logo-3D-shining-300x300.png" style="width:50px;height:50px;border-radius:50px;" /></a>
</div>