<p>@Html.ActionLink("भारत का नक्शा", "भारत_का_मानचित्र", "Map")</p>
<p>राज्यों का नक्शा</p>
<p>जिलों का नक्शा</p>
<p>प्रखंड का नक्शा</p>
<p>पंचायत का नक्शा</p>
<br />
<br />
<p>लोक सभा</p>
<p>राज्य सभा</p>
<p>विधानसभा</p>
<p>विधान परिषद</p>
<p>जिला प्रशासक</p>
<p>पंचायती राज व्यवस्था</p>
