<h3>भारत की महत्वपूर्ण जानकारी </h3>
<style>
    .td {
        padding: 5px;
    }
    
</style>
<table>
    <tr>

        <p>राजनीति योगदान</p>
        <p>सामाजिक योगदान</p>
        <p>एक भारत की कल्पना</p>
        <p>किसान अनुसंधान केंद्र</p>
        <p>अखण्ड भारत की कल्पना</p>
        <p>स्वास्थ्य</p>
        <p>रोजगारनामा</p>
        <p>भारत की परम्परा</p>
        <p>धर्म ग्रंथो की कहानी</p>
        <p>भारतीय सभ्यता और संस्कृति</p>
        <p>भारत नव निर्माण विश्वविद्यालय</p>
