<h3>भारत नव निर्माण परिवर्तन" </h3>
<style>
    .td {
        padding: 5px;
    }
    
</style>
<table>
    <tr>
        <td>
<p>खोज</p>
<p>किसान</p>
<p>सदस्य</p>
<p>लोकतंत्र</p>
<p>सेमिनार</p>
<p>सवाल और जवाब</p>
<p>भारत में राजनीति</p>
<p>भारत में परिवर्तन</p>
<p>संविधान विशेषज्ञ</p>
<p>सांस्कृतिक कार्यक्रम</p>
<p>आम आदमी के सवाल</p>
<p>जनता की अपेक्षाओं का भारत</p>
</td>
</tr>
</table>