<div style="float:right;width:250px;">
    <a href="http://www.google.com/" target="_blank"><img src="~/Content/Images/google-plus-6-xxl.png" width="50" height="50"/></a>
    <a href="http://www.facebook.com/" target="_blank">
        <img src="~/Content/Images/Watsapp-and-Facebook.jpg" width="100" height="50"/>
    </a>
    <a href="http://www.twitter.com/" target="_blank"><img src="~/Content/Images/Twitter-logo-3D-shining-300x300.png"  width="50" height="50"/></a>
</div>