
@{
    ViewBag.Title = "भारत_का_मानचित्र";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>भारत_का_मानचित्र</h2>

<p class="customeFont">
    Hkkjr dk ekufp= nsus dk mn~ns'; ;g gS fd ge Hkkjr dks ges'kk loksZifj j[kdj dk;Z djsaxsaA
</p>

<img src="~/Content/Images/indiaMap.png" />