
@{
    ViewBag.Title = "BharatDarshan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BharatDarshan</h2>
<p class="customeFont">
    Hkkjr uo fuekZ.k dk iz;kl gS fd Hkkjr ds izR;sd {ks=ksa ls vki rd tkudkjh miyC/k djk;saA
</p>
