
@{
    ViewBag.Title = "दूरदर्शिता और मिशन";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>


<p class="customeFont">
    Hkkjr uo fuekZ.k fd ,d lksp gS] fopkj gS ,d u;s Hkkjr ds fuekZ.k dhA ftldk liuk gj yksxk jkst ?kjksa esa cSBdj ns[krs gSA ysfdu vkxs vk;s rks dkSu vk;sa \ blh bartkj dks [kRe djrs gq, Hkkjr uo fuekZ.k dk fuekZ.k fd;k x;k gSA ;g ,d IysVQkWeZ gS viuk&viuk ;ksxnku ns dj Hkkjr ds izfr viuh ftEesokjh dks fuHkkus dkA Hkkjr uo fuekZ.k ,d fopkj/kkjk ds lkFk Hkkjr ds fgrksa esa dk;Z dj jgh gSA
 </p>
<p class="customeFont" style="font-weight:700;">
    ^^Hkkjr uo fuekZ.k ls eryc ogha gS tks vkidh lksp vkSj fnekx esa vk;kA**
</p>

