@{
    ViewBag.Title = "Contact";
}
<h2>भारत नव निर्माण संपर्क</h2>

<address>
    हाजीपुर, वैशाली
</address>

<address>
    संपर्क : <br /> <span class="glyphicon glyphicon-earphone"> 91-7070-777799</span><br />
    <span class="glyphicon glyphicon-phone-alt"> 91-6224-260012 </span>
   
</address>