
@{
    ViewBag.Title = "दूरदर्शिता और मिशन";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title </h2>
</hr>
<img src="~/Content/Images/header.gif" />
<p class="customeFont">
    Hkkjr uo fuekZ.k fd ,d lksp gS] fopkj gS ,d u;s Hkkjr ds fuekZ.k dhA ftldk liuk gj yksxk jkst ?kjksa esa cSBdj ns[krs gSA ysfdu vkxs vk;s rks dkSu vk;sa \ 
</p>
<p class="customeFont">
    blh bartkj dks [kRe djrs gq, Hkkjr uo fuekZ.k dk fuekZ.k fd;k x;k gSA Hkkjr uo fuekZ.k ,d IysVQkWeZ gS ftlds ek/;e ls viuk&viuk ;ksxnku ns dj Hkkjr ds izfr viuh ftEesokjh dks fuHkkus dkA Hkkjr uo fuekZ.k ,d fopkj/kkjk ds lkFk Hkkjr ds fgrksa esa dk;Z dj jgh gSA

</p>
<img src="~/Content/Images/bharat-darshan-hindi-magazine-hindi-stories-and-poems.jpg" />
<p class="customeFont" style="font-weight:700;">
    ^^Hkkjr uo fuekZ.k ls eryc ogha gS tks vkidh lksp vkSj fnekx esa vk;kA**

</p>
<p class="customeFont">
    Hkkjr ds izR;sd ukxfjd dh ,d viuh lksp gS ,oa mls fodflr djus ds fy, mUgsa mfpr ekxZn'kZu uk feyus ls mls lgh mi;ksx esa ugha yk ikrs gSaA Hkkjr uo fuekZ.k vkids fy, izR;sd {ks= esa izf'k{k.k dh iw.kZ O;oLFkk ds lkFk&lkFk mfpr O;olk; ,oa ukSdjh ikus Hkh enn djsxhA Hkkjr uo fuekZ.k ,d ,slh lksp dks ysdj vk;k gS fd rkfd Hkkjr ds izR;sd ukxfjd dh iwjh tkudkjh ,d&,d feuV gekjs tuizfrfuf/k;ksa ds ikl gksuk pkfg,A Hkkjr uo fuekZ.k dk iz;kl gS fd Hkkjr ljdkj ,oa jkT;ksa dh ljdkjksa dh reke ;kstukvksa dks ?kj&?kj igq¡pk;k tk ldsA

</p>
<p class="customeFont">
    eq[; :i ls fe'ku dk eq[; vk/kkj gS Hkkjr dh ,drk dks iw.kZ :i ls LoPNrk iw.kZ j[kh tk;saA Hkkjr ds izR;sd ukxfjd ds fy, Hkkjrh; lafo/kku ds vuqlkj ,drk ,oa v[k.Mrk ds fy, izsfjr djuk gSA mudh ewyHkwr lwof/kkvksa dks laoS/kkfud :i ls vke ukxfjdksa rd igq¡pk gSA Hkkjr uo fuekZ.k le; le; ij vius dk;ksZa dh iw.kZ fooj.k csolkbZV ,oa ,si ds ek/;e ls vki lHkh ukxfjdksa dks ,oa gekjs lnL;ksa dks lwpuk bZ&esy ,oa ,si ds ek/;e ls Hkh nsrh jgsxhA

</p>

