
@{
    ViewBag.Title = "पुस्तकालय";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p class="customeFont">

</p>
<p class="customeFont">

</p>
<p class="customeFont">

</p>
<p class="customeFont">

</p>
<p class="customeFont">

</p>
<p class="customeFont">

</p>
<img src="~/Content/Images/Puastakalya.jpg" />
<p class="customeFont">

</p>

